@font-face {
  font-family: "iconfont"; /* Project id 2629355 */
  src: url('iconfont.woff2?t=1624605303434') format('woff2'),
       url('iconfont.woff?t=1624605303434') format('woff'),
       url('iconfont.ttf?t=1624605303434') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian:before {
  content: "\e7a5";
}

.icon-yuandian:before {
  content: "\e600";
}

.icon-yuandian1:before {
  content: "\e6b3";
}

.icon-xiaoxi:before {
  content: "\e709";
}

.icon-xin:before {
  content: "\e70c";
}

.icon-quxiao:before {
  content: "\e70d";
}

.icon-gouxuan:before {
  content: "\e70f";
}

.icon-bofang:before {
  content: "\e710";
}

.icon-zengjia:before {
  content: "\e711";
}

.icon-jianshao:before {
  content: "\e712";
}

.icon-shezhi:before {
  content: "\e713";
}

.icon-diannao:before {
  content: "\e714";
}

.icon-wendang:before {
  content: "\e716";
}

.icon-wenjian:before {
  content: "\e71e";
}

